<style>
    ul{
        list-style: none;


    }
    li{
        margin-right: 10px;
    }
    ul:first-child li {
        margin: 0;
    }
    .orangeBtn{
        color: white!important;
        background-color:#f2911b!important;
        padding-top:2px!important;
        padding-bottom: 2px

    }
    .headerStyle{
          background-color: #117A65;
          padding: 6px;
          text-align: center

      }
    .titleStle{
        color: white;height: 4px

    }
    .theader{
        background-color: #117A65;
        line-height: 12px
    }


</style>

<div  style="font-family: iransans1 !important;direction: ltr;margin-top: 7px">

    <div style="display: flex " >

        <div class="col-lg-12 col-sm-12 col-md-12  " style="font-size: 17px; border-color: black;display: flex;padding:0; ">
            <div  class="col-lg-4 col-sm-12 col-md-12" style="border: 1px solid black;padding: 0">
                <div class="col-lg-12 col-sm-12 col-md-12  headerStyle" style="text-align: right;padding: 11px">
                    <h5  style="font-weight: 400;" class="titleStle"  >  انتخاب داروخانه  </h5>
                </div>
                <div class="form-group col-12" >
                    <ul class="d-flex  " style="margin-top: 4px;" >
                        <li *ngIf="list">
                            <select  #mySelect id="mySelect" class="form-control"  (change)='getID(mySelect.value)' style="width: 300px" name="id">
                                <option value="">{{defultdrugstore}}</option>
<!--                                <option *ngFor="let i of list"  [value]="i.id" >{{i.name}}</option>-->
                            </select>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-12" style="margin: 0 auto;text-align: center">
                <button class="btn  mt-2 text-bold-700  "  style="padding:6px!important;height:40px;color: white!important;
                background-color:#f2911b!important; font-size: 16px;text-align: right"  (click)="newPres()" >

                    ثبت نسخه جدید بیمار
                    <i class="ft-plus-circle"></i>
                </button>
            </div>
            <div class="col-lg-5 col-sm-12 col-md-12" style="text-align: right;font-weight: 700;border: 1px solid ;padding: 0 " >
                <div class="col-lg-12 col-sm-12 col-md-12  headerStyle" style="text-align: right;padding: 11px">
                    <h5  style="font-weight: 400;" class="titleStle"  > مشخصات بیمار</h5>
                </div>
                <div class="col-12" style="display: flex">
                    <div *ngIf="customerobj" class="col-2" style="padding: 0">
                        <div style="padding: 6px;display: flex;flex-wrap: wrap">
                            <img alt="بدون تصویر"  style="width: 90px;height: 90px;border-radius: 50%;margin-right: 5px" src="{{url+'/api/EMR/Get_Patient_Picture/'+customerobj['patientID']}}" />
                        </div>
                    </div>
                    <div class="col-10" style="padding: 0">
                        <ul *ngIf="customerobj" class="d-flex  mt-1 " style="float: right" >
                            <li style="margin-right: 0px;">{{customerobj['encounter_Age']}}  </li>
                            <li>|</li>
                            <li style="margin-right: 2px;">{{customerobj['patient_Gender']}}</li>
                            <li>|</li>
                            <li style="margin-right: 3px;">{{customerobj['patient_FirstName']+" "+customerobj['patient_LastName']}}</li>

                        </ul>
                    </div>

                </div>



            </div>
        </div>


</div>

</div>
